.future {
  width: 100%;
  height: 100%;

  .future-pinned-section {
    width: 100%;
    z-index: -1;
    height: 100vh;
    margin-top: -100vh;
    position: relative;
    transform: translateY(0px);
  }

  .future-init-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateY(0px);
    position: absolute;
    background-color: #182430;

    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .future-init-heading {
      mix-blend-mode: exclusion;
      color: white;
      position: absolute;
      top: 50%;
      font-size: 6.854rem;
      font-family: "Fahkwang";
      font-weight: 300;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      span {
        display: inline-block;
      }
    }
  }

  .future__root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: #182430;
    will-change: background-color;

    .future-cursor-container {
      position: absolute;
      background-color: transparent;
      // background: rgba(yellow, 0.4);
      width: 100%;
      height: 100%;

      .future-cursor {
        width: 40px;
        height: 40px;
        border: 1px solid rgba(245, 208, 112, 1);
        mix-blend-mode: difference;
        border-radius: 50%;
        position: absolute;
        z-index: 5;
        pointer-events: none;
        user-select: none;
        will-change: transform;
      }
    }

    .logo {
      position: absolute;
      top: 12.5%;
      left: 10%;
      transform: translate(-50%, -50%);
      color: white;
      will-change: color;

      span {
        display: block;
      }

      .bold {
        font-weight: bold;
      }
    }

    .scroll-for-more {
      position: absolute;
      top: 88.5%;
      font-family: "Graysun";
      left: 10%;
      transform: translate(-50%, -50%);
      color: #da9f54;

      span {
        display: block;
      }
    }

    .grid-line1,
    .grid-line2,
    .grid-line3,
    .grid-line4 {
      will-change: transform;
    }

    .grid-line {
      background-color: rgba(white, 0.1);
      will-change: background-color;
    }

    .grid-line1,
    .grid-line2 {
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 1px;
    }

    .grid-line1 {
      top: 25%;
      left: 0%;
      transform: translateX(100%);
    }

    .grid-line2 {
      top: 75%;
      left: 0%;
      transform: translateX(-100%);
    }

    .grid-line3,
    .grid-line4 {
      z-index: -2;
      position: absolute;
      width: 1px;
      height: 100%;
    }

    .grid-line3 {
      top: 0%;
      left: 25%;
      transform: translateY(100%);
    }

    .grid-line4 {
      opacity: 0;
      top: 0%;
      left: 75%;
      transform: translateY(-100%);
    }

    .main-heading {
      opacity: 0;
      font-family: "Graysun", sans-serif;

      .heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;

        span {
          display: block;
          white-space: nowrap;
        }

        span.filled {
          transform: translateX(-10%);
          color: white;
        }
        span.outlined {
          color: transparent;
          -webkit-text-stroke-color: white;
          -webkit-text-stroke-width: 1px;
        }
      }
    }

    .the-line-details {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .the-line-heading {
      font-family: "Graysun", sans-serif;

      .heading {
        color: white;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
      }
    }

    .the-line-img {
      width: 50%;
      height: 50%;
      position: absolute;
      top: calc(50% + 1px);
      z-index: -2;
      left: calc(50% + 1px);
      opacity: 0;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .the-line-thumbnails {
      .line-thumbnail {
        position: absolute;
        width: 25%;
        height: 25%;
        will-change: left, top;
        transform: scale(0.8);
        opacity: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .line1 {
        top: 0%;
        left: 100%;
      }
      .line2 {
        top: 75%;
        left: 100%;
      }
      .line3 {
        top: 75%;
        left: -25%;
      }
    }

    .the-line-content {
      position: absolute;
      bottom: -50%;
      left: 50%;
      will-change: bottom;
      transform: translate(-50%, 0%);
      width: 60%;

      p {
        font-family: "Barlow", sans-serif;
        text-align: center;
        font-size: 1.4rem;
        color: #e0ad58;
      }
    }

    .trojena {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .trojena-img {
        width: 50%;
        height: 50%;
        will-change: left;
        position: absolute;
        top: 25%;
        left: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .trojena-thumbnail {
        width: 25%;
        height: 25%;
        position: absolute;
        top: 75%;
        left: 100%;
        will-change: left;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .trojena-content-container {
        position: absolute;
        width: 25%;
        height: 75%;
        top: 25%;
        left: 0%;
        overflow: hidden;

        .trojena-content {
          width: 85%;
          left: 5%;
          color: #e0ad58;
          position: absolute;
          bottom: -100%;
          will-change: bottom;

          h1 {
            font-family: "Barlow", sans-serif;
            font-weight: 700;
            margin-bottom: 25px;
          }

          p {
            font-size: 1rem;
            font-weight: 300;
          }
        }
      }
    }

    .sindalah {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .sindalah-title {
        font-family: "Graysun", cursive;
        font-size: 6rem;
        color: white;
        position: absolute;
        opacity: 0;
        will-change: opacity;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .sindalah-img {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 25%;
        left: 100%;
        will-change: left;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .sindalah-overlay {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        opacity: 0;
        will-change: opacity;
        background: rgba(#182430, 0.8);
      }

      .sindalah-feature {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 25%;
        will-change: left;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .sindalah-feature-1,
      .sindalah-feature-2,
      .sindalah-feature-3 {
        left: 100%;
      }

      .sindalah-content-container {
        width: 25%;
        height: 75%;
        position: absolute;
        top: 25%;
        overflow: hidden;

        .sindalah-content {
          width: 85%;
          left: 5%;
          color: #182430;
          position: absolute;
          bottom: -100%;
          will-change: bottom;

          h1 {
            font-family: "Barlow", sans-serif;
            font-weight: 700;
            margin-bottom: 25px;
          }

          p {
            font-size: 1rem;
            font-weight: 300;
          }
        }
      }
    }

    .future-adrenaline-root {
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .future-adrenaline {
        position: absolute;
        top: 45%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);

        .question {
          color: white;
          font-family: "Graysun", sans-serif;
          font-size: 5.2rem;

          span {
            white-space: nowrap;
            display: block;
          }
        }

        .buttons-container {
          display: flex;
          margin-top: 100px;
          justify-content: center;
          position: relative;
          z-index: 4;

          gap: 60px;

          .btn {
            cursor: pointer;
            width: 320px;
            padding: 20px 0px 25px 0px;
            font-family: "Graysun", sans-serif;
            background: transparent;
            font-size: 0.7rem;
          }

          .go-home {
            border: 1px solid rgba(74, 244, 255, 1);
            color: rgba(74, 244, 255, 1);
          }
          .see-more {
            border: 1px solid rgba(245, 208, 112, 1);
            color: rgba(245, 208, 112, 1);
          }
        }
      }
      .wireframe-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .future-showcase {
      z-index: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;

      .future-showoff-title {
        opacity: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        font-size: 6rem;
        color: white;
        font-weight: 400;
        transform: translate(-50%, -50%);
        font-family: "Graysun";
        will-change: top, opacity;

        span {
          position: relative;
          white-space: nowrap;
          text-align: center;
          display: block;

          &:first-child:before,
          &:first-child:after {
            display: block;
            content: attr(data-glitch);
            position: absolute;
            top: 0;
            left: 24%;
            opacity: 0.8;
          }
          &:not(:first-child):before,
          &:not(:first-child):after {
            display: block;
            content: attr(data-glitch);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.8;
          }
        }

        span:before {
          animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
            infinite;
          color: #4af4ff;
          z-index: -1;
        }

        span:after {
          animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            reverse both infinite;
          color: #f5d070;
          z-index: -2;
        }
      }

      .showcase-img {
        opacity: 0;
        position: absolute;
      }

      .showcase-1 {
        width: 39vw;
        height: 52vh;
        top: 3%;
        right: 5%;
      }

      .showcase-2 {
        width: 38.5vw;
        height: 72.3vh;
        top: 30%;
        left: 0;
      }

      .showcase-4 {
        width: 19.5vw;
        height: 50vh;
        top: 25%;
        left: 0;
      }

      .showcase-5 {
        width: 24.16vw;
        height: 32.16vh;
        left: 35%;
        bottom: 0;
      }

      .showcase-3 {
        height: 100vh;
        top: 0;
        right: 0;
      }

      .showcase-6 {
        top: 10%;
        right: 0;
        width: 47.9vw;
      }

      .showcase-7 {
        bottom: 0;
        left: 45%;
        width: 12.45vw;
        height: 39.6vh;
      }

      .showcase-13 {
        bottom: 0;
        left: 0;
        width: 23.34vw;
        height: 70.85vh;
      }

      .showcase-8 {
        bottom: 0;
        left: 10%;
        width: 560px;
        height: 800px;
      }

      .showcase-9 {
        top: 0;
        left: 45%;
        width: 27.34vw;
        height: 80.4vh;
      }

      .showcase-10 {
        bottom: 0;
        right: 0;
        width: 33.1vw;
        height: 87.84vh;
      }

      .showcase-11 {
        top: 8%;
        right: 8%;
        width: 33.1vw;
        height: 87.84vh;
      }

      .showcase-12 {
        bottom: 4%;
        left: 8%;
        width: 37.4vw;
        height: 44.72vh;
      }
    }

    .future-final-section {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0%;

      #webgl_canvas {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .future-final-heading-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1.heading {
          font-size: 2.25rem;
          font-family: "Barlow", sans-serif;
          font-weight: 300;
          color: white;

          .line {
            white-space: nowrap;
            display: block;
            text-align: center;
            opacity: 0;
            transform: translateY(30px);
            will-change: opacity, transform;

            span {
              position: relative;
              overflow: hidden;

              .strikethrough {
                position: absolute;
                top: 53%;
                left: 0%;
                width: 0%;
                height: 3px;
                background-color: white;
                will-change: width;
              }
            }
          }
        }

        .go-to-home {
          opacity: 0;
          position: relative;
          left: 50%;
          transform: translateX(-50%) translateY(30px);
          margin-top: 8vh;
          cursor: pointer;
          border: 1px solid #4af4ff;
          padding: 20px 3.5vw 25px 3.5vw;
          font-size: 0.7rem;
          font-family: "Graysun", sans-serif;
          color: #4af4ff;
          background-color: transparent;
        }
      }

      .future-footer-container {
        position: absolute;
        top: calc(100% - 0px);
        left: 0%;
        width: 100%;
        will-change: top;
        height: 250px;
        max-height: 250px;

        .bg-img {
          background-image: url("/assets/future-footer.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 100%;
        }

        .social-links {
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          gap: 30px;
          color: white;
          font-family: "Barlow", sans-serif;

          .link {
            cursor: pointer;
            z-index: 0;
            opacity: 0;
            transform: translateY(30px);
            will-change: opacity, transform;

            &:hover {
              color: #4af4ff;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

// <div class="glitch-wrapper">
//    <div class="glitch" data-glitch="glitch">glitch</div>
// </div>

// <style>

.glitch {
  position: relative;
  font-size: 73px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}
