.future {
  width: 100%;
  height: 100%;

  .future-pinned-section {
    width: 100%;
    z-index: -1;
    height: 100vh;
    margin-top: -100vh;
    position: relative;
    transform: translateY(0px);
  }

  .future-init-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateY(0px);
    position: absolute;
    background-color: #182430;

    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .future-init-heading {
      mix-blend-mode: exclusion;
      color: white;
      position: absolute;
      top: 50%;
      font-size: 6.854rem;
      font-family: "Fahkwang";
      font-weight: 300;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      span {
        display: inline-block;
      }
    }
  }

  .future__root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #182430;

    .logo {
      position: absolute;
      top: 12.5%;
      left: 10%;
      transform: translate(-50%, -50%);
      color: white;

      span {
        display: block;
      }

      .bold {
        font-weight: bold;
      }
    }

    .scroll-for-more {
      position: absolute;
      top: 88.5%;
      font-family: "Graysun";
      left: 10%;
      transform: translate(-50%, -50%);
      color: #da9f54;

      span {
        display: block;
      }
    }

    .grid-line1,
    .grid-line2,
    .grid-line3,
    .grid-line4 {
      will-change: transform;
    }

    .grid-line1,
    .grid-line2 {
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 1px;
      background: rgba(white, 0.1);
    }

    .grid-line1 {
      top: 25%;
      left: 0%;
      transform: translateX(100%);
    }

    .grid-line2 {
      top: 75%;
      left: 0%;
      transform: translateX(-100%);
    }

    .grid-line3,
    .grid-line4 {
      z-index: -2;
      position: absolute;
      width: 1px;
      height: 100%;
      background: rgba(white, 0.1);
    }

    .grid-line3 {
      top: 0%;
      left: 25%;
      transform: translateY(100%);
    }

    .grid-line4 {
      top: 0%;
      left: 75%;
      transform: translateY(-100%);
    }

    .main-heading {
      opacity: 0;
      font-family: "Graysun", sans-serif;

      .heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;

        span {
          display: block;
          white-space: nowrap;
        }

        span.filled {
          transform: translateX(-10%);
          color: white;
        }
        span.outlined {
          color: transparent;
          -webkit-text-stroke-color: white;
          -webkit-text-stroke-width: 1px;
        }
      }
    }

    .the-line-img {
      width: 50%;
      height: 50%;
      position: absolute;
      top: calc(50% + 1px);
      z-index: -2;
      left: calc(50% + 1px);
      opacity: 0;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .future-second-pinned-section {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
    margin-top: -100vh;
    background: green;
  }
}
