.intro-past {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro {
  //   margin-top: -100vh;

  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;

  .intro__title {
    mix-blend-mode: exclusion;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .child {
      transform: translateY(100%);
    }

    .logo_text {
      line-height: 100%;
      font-size: 7.594rem;
      color: white;
      font-weight: 300;
    }
    .bold {
      font-weight: 700;
    }
  }

  .canvas {
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
