.present {
  position: relative;
  width: 100vw;
  height: 100%;

  & .pin-spacer {
    &:nth-child(1) {
      z-index: 1 !important;
      mix-blend-mode: difference;
    }
  }

  .spinning-star-container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    padding-bottom: 20vh;

    .spinning-star {
      transform: rotate(0deg);
      will-change: transform;
      width: 200px;
      height: 200px;
      // transform: rotate()
    }
  }

  #cursor {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    pointer-events: none;
    user-select: none;
    left: 0;
    z-index: 1000;

    span {
      position: absolute;
      top: 0;
      will-change: transform;
      left: 0;
      background: white;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      transform-origin: center center;

      &:nth-child(1) {
        transform: scale(1);
      }
      &:nth-child(2) {
        transform: scale(0.95);
      }
      &:nth-child(3) {
        transform: scale(0.9);
      }
      &:nth-child(4) {
        transform: scale(0.85);
      }
      &:nth-child(5) {
        transform: scale(0.8);
      }
      &:nth-child(6) {
        transform: scale(0.75);
      }
      &:nth-child(7) {
        transform: scale(0.7);
      }
      &:nth-child(8) {
        transform: scale(0.65);
      }
      &:nth-child(9) {
        transform: scale(0.6);
      }
      &:nth-child(10) {
        transform: scale(0.55);
      }
      &:nth-child(11) {
        transform: scale(0.5);
      }
      &:nth-child(12) {
        transform: scale(0.45);
      }
      &:nth-child(13) {
        transform: scale(0.4);
      }
      &:nth-child(14) {
        transform: scale(0.35);
      }
      &:nth-child(15) {
        transform: scale(0.3);
      }
      &:nth-child(16) {
        transform: scale(0.25);
      }
      &:nth-child(17) {
        transform: scale(0.2);
      }
      &:nth-child(18) {
        transform: scale(0.15);
      }
      &:nth-child(19) {
        transform: scale(0.1);
      }
      &:nth-child(20) {
        transform: scale(0.05);
      }
    }
  }

  .present-inner {
    height: 100vh;
    background-color: #2a2a2a;
    padding: 120px;
    position: relative;
    overflow: visible;

    .pattern-img {
      z-index: 2;
      width: 32vw;
      height: auto;
      transform-origin: bottom right;
      transform: rotate(90deg);
      will-change: transform;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    .present-content {
      z-index: 2;
      max-width: 80vw;

      .heading {
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        font-family: Neuemontreal, sans-serif;
        font-size: 11.391rem;
        line-height: 100%;
        position: static;
        top: 20%;
        left: 10%;
      }

      .content {
        max-width: 50%;
        color: #f5d070;
        margin-bottom: 0;
        padding-left: 29px;
        padding-right: 0;
        font-family: Neuemontreal, sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 130%;
      }

      .scroll-now {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        flex-direction: column;
        padding-left: 30px;
        display: flex;
        position: absolute;
        bottom: 5vh;

        .line {
          width: 1px;
          height: 8vh;
          background-color: #fff;
        }

        .scroll-text {
          color: #fff;
          font-family: Neuemontreal, sans-serif;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 100%;
        }
      }
    }
  }

  .present-section-title {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f3f7f6;
    will-change: all;

    h1.heading {
      will-change: transform;
      transform-origin: center top;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: 2.25rem;
      font-weight: 300;

      span {
        display: inline-block;
      }

      .bold {
        font-weight: bold;
      }
    }

    .image-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      .image {
        z-index: -1;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        opacity: 1 !important;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .present-section-content {
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    background: white;

    .para {
      font-size: 1.8rem;
      max-width: 75vw;
      margin: 0px auto;
      color: rgba(28, 45, 55, 1);

      .char {
        opacity: 0.2;
      }
    }
  }

  .present-section-image-reveal {
    width: 100%;
    height: 100vh;
    position: relative;
    background: white;

    .content {
      position: absolute;
      z-index: 1;
      top: 5%;
      left: 50%;
      color: white;
      transform: translateX(-50%);
      font-family: "Fahkwang", sans-serif;
    }

    .content-primary {
      text-align: center;
      font-size: 5.063rem;
      font-weight: 400;
    }

    .content-secondary {
      text-align: center;
      font-size: 3.375rem;
      font-weight: 400;
    }

    .image-reveal {
      position: absolute;
      left: 50%;
      width: 60%;
      overflow: hidden;
      margin: 0 auto;
      height: 100%;
      transform: translateX(-50%);

      img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100vh;
      }
    }
  }
  .present-section-aesthetics {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background: white;
  }

  .present-section-image-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
    padding-bottom: 5vh;

    .image-slider-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      margin: 0 auto;
      overflow: hidden;

      .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      .louvre {
        background-image: url("/assets/louvre-bg.png");
      }
      .zaragoza {
        background-image: url("/assets/zaragoza-bg.png");
        top: -100%;
      }
      .capital-hill {
        background-image: url("/assets/capital-hill-bg.png");
        top: -100%;
      }
      .marina-bay {
        background-image: url("/assets/marina-bay-bg.png");
        top: -100%;
      }
    }
    .details {
      position: absolute;
      top: 50%;
      right: 15%;
      width: 350px;
      background: white;
      padding: 40px;

      .detail-image {
        position: relative;
        width: 100%;
        height: 180px;
        overflow: hidden;

        img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        .zaragoza,
        .capital-hill,
        .marina-bay {
          top: -100%;
        }
      }

      .detail-content {
        .detail-content-head {
          width: 100%;
          height: 26px;
          position: relative;
          overflow: hidden;

          h4 {
            white-space: nowrap;
            font-size: 0.8rem;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            &:nth-child(1) {
              opacity: 1;
            }
          }
        }

        .detail-content-paras {
          margin-top: 12px;
          width: 100%;
          height: 17vh;
          position: relative;
          overflow: hidden;

          .para {
            font-size: 0.7rem;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            &:nth-child(1) {
              opacity: 1;
            }
          }
        }
      }
    }

    .buttons-container {
      position: absolute;
      bottom: 5%;
      left: 10%;
      display: flex;
      gap: 20px;
      z-index: 1;

      button {
        text-transform: uppercase;
        padding: 6px 15px;
        background: transparent;
        cursor: pointer;
        border: 1px solid #3089aa;
        color: #3089aa;
      }
      button[data-isactive="true"] {
        background: #3089aa;
        color: white;
      }
    }
  }

  .places-marquee-container {
    background-color: white;
    width: 100%;
    height: 120px;
    display: flex;
    border-top: 2px solid #3089aa;
    border-bottom: 2px solid #3089aa;
    padding: 20px 0px;
    align-items: center;
    gap: 5vw;

    .place {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 20px;

      &:last-child {
        padding-right: 5vw;
      }

      .place-name {
        font-family: "Fahkwang", sans-serif;
      }
    }
  }

  .future-init-container {
    width: 100%;
    height: 100vh;
    margin-top: -100vh;
    z-index: -1;
    position: relative;
    background-color: #182430;

    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .future-init-heading {
      mix-blend-mode: exclusion;
      color: white;
      position: absolute;
      top: 50%;
      font-size: 6.854rem;
      font-family: "Fahkwang";
      font-weight: 300;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      span {
        display: inline-block;
      }
    }
  }
}
