section.future
    .future-pinned-section
        .future-init-container
            video(src="/assets/bg-video.webm" autoplay loop muted).video 
            h1.future-init-heading 
                span WELCOME 
                span TO THE 
                span FUTURE
        .future__root
            .future-cursor-container
                .future-cursor
            .logo
                span THE
                span.bold EMAARAT
                span PROJECT
            .grid-line.grid-line1 
            .grid-line.grid-line2 
            .grid-line.grid-line3 
            .grid-line.grid-line4
            .main-heading
                h1.heading
                    span.filled THE FUTURE
                    span.outlined OF URBAN LIVING
            .the-line
                .the-line-img
                    img(src="/assets/the-line.png", alt="THE LINE") 
                .scroll-for-more
                    span SCROLL FOR
                    span MORE //
                .the-line-details
                    .the-line-heading
                        h1.heading
                            | THE LINE
                    .the-line-content
                        p A cognitive city stretching across 170 kilometers, from the epic mountains of NEOM across inspirational desert valleys to the beautiful Red Sea. A mirrored architectural masterpiece towering 500 meters above sea level, but a land-saving 200 meters wide. THE LINE redefines the concept of urban development and what cities of the future will look like. A civilizational revolution, its unparalleled livability can be explored at THE LINE Exhibition &#8212; now welcoming visitors in Riyadh. 
                .the-line-thumbnails
                    .line-thumbnail.line1
                        img(src="/assets/line1.png", alt="The line 1")
                    .line-thumbnail.line2
                        img(src="/assets/line2.png", alt="The line 2")
                    .line-thumbnail.line3
                        img(src="/assets/line3.png", alt="The line 3")
            .trojena
                .trojena-img
                    img(src="/assets/trojena.png" alt="Trojena")
                .trojena-thumbnail
                    img(src="/assets/trojena-thumbnail.png" alt="Trojena Thumbnail")
                .trojena-content-container
                    .trojena-content
                        h1 TROJENA
                        p Trojena is part of NEOM&apos;s regional plan, located 50km from the Gulf of Aqaba coast in the heart of our nature region. Elevations range from 1,500m to 2,600m and cover an area of nearly 60 square kilometers. Ideally located for alpine and adventure sports, Trojena experiences sub-zero winter temperatures and has a year-round moderate climate that is cooler on average than the rest of the region. With its clear fresh air and panoramic views, Trojena will not only be a mesmerizing place to visit, but also the perfect place to live and work.
            .sindalah
                .sindalah-img
                    img(src="/assets/sindalah.png" alt="Sindalah")
                .sindalah-overlay
                h1.sindalah-title SINDALAH
                .sindalah-content-container
                    .sindalah-content
                        h1 SINDALAH
                        p Promising the finest experiences life has to offer, Sindalah will be the first physical showcase of NEOM – as our vision becomes a reality. An incomparable island destination, it will be an exclusive gateway to the stunning Red Sea. We will welcome the global yachting community, as well as visitors looking for exquisite luxury.
                .sindalah-feature.sindalah-feature-1
                    img(src="/assets/sindalah-feature-1.png", alt="Sindalah Feature 1")
                .sindalah-feature.sindalah-feature-2
                    img(src="/assets/sindalah-feature-2.png", alt="Sindalah Feature 2")
                .sindalah-feature.sindalah-feature-3
                    img(src="/assets/sindalah-feature-3.png", alt="Sindalah Feature 3")
            .future-adrenaline-root
                .future-adrenaline
                    h1.question
                        span WANT TO SEE
                        span THE FUTURE ?
                    .buttons-container
                        button.btn.go-home NO! TAKE ME TO HOME
                        button.btn.see-more WANT TO SEE MORE!
            .future-showcase
                h1.future-showoff-title
                    span THIS IS
                    span THE FUTURE.
                img.showcase-img.showcase-1(src="/assets/showcase-1.png" alt="Showcase 1")
                img.showcase-img.showcase-2(src="/assets/showcase-2.png" alt="Showcase 2")
                img.showcase-img.showcase-3(src="/assets/showcase-3.png" alt="Showcase 3")
                img.showcase-img.showcase-4(src="/assets/showcase-4.png" alt="Showcase 4")
                img.showcase-img.showcase-5(src="/assets/showcase-5.png" alt="Showcase 5")
                img.showcase-img.showcase-6(src="/assets/showcase-6.png" alt="Showcase 6")
                img.showcase-img.showcase-7(src="/assets/showcase-7.png" alt="Showcase 7")
                img.showcase-img.showcase-8(src="/assets/showcase-8.png" alt="Showcase 8")
                img.showcase-img.showcase-9(src="/assets/showcase-9.png" alt="Showcase 9")
                img.showcase-img.showcase-10(src="/assets/showcase-10.png" alt="Showcase 10")
                img.showcase-img.showcase-11(src="/assets/showcase-11.png" alt="Showcase 11")
                img.showcase-img.showcase-12(src="/assets/showcase-12.png" alt="Showcase 12")
                img.showcase-img.showcase-13(src="/assets/showcase-13.png" alt="Showcase 13")
            .future-final-section
                .future-final-heading-container
                    h1.heading
                        span.line NO DESIGNERS &amp; 
                            span 
                                span.strikethrough
                                | DEVELOPERS
                        span.line WERE HARMED DURING
                        span.line THIS WEBSITE DEVELOPMENT.
                    button.go-to-home BACK TO HOME
                .future-footer-container
                    .bg-img
                    .social-links
                        span.link Email
                        span //
                        span.link Behance
                        span //
                        span.link Dribble

                
