section.future
    .future-pinned-section
        .future-init-container
            video(src="/assets/bg-video.webm" autoplay loop muted).video 
            h1.future-init-heading 
                span WELCOME 
                span TO THE 
                span FUTURE
        .future__root
            .logo
                span THE
                span.bold EMAARAT
                span PROJECT
            .grid-line.grid-line1 
            .grid-line.grid-line2 
            .grid-line.grid-line3 
            .grid-line.grid-line4
            .main-heading
                h1.filled-heading
                    span THE FUTURE
                    span OF URBAN LIVING
                h1.outlined-heading 
                    span THE FUTURE 
                    span OF URBAN LIVING
            .the-line-img
                img(src="/assets/the-line.png", alt="THE LINE") 
            .scroll-for-more
                span SCROLL FOR
                span MORE // 