section.intro 
    .canvas
        canvas#myCanvas
    .intro__title
        .reveal.left
            h1.child.logo_text THE
        .reveal.left
            h1.child.logo_text.bold EMAARAT
        .reveal.left
            h1.child.logo_text PROJECT 
    .onlydesktop
        h1 Please use desktop, <br /> for optimal experience

