
section.loader
    .logo
        .reveal
            h1.child.logo_text THE
        .reveal
            h1.child.logo_text.bold EMAARAT
        .reveal
            h1.child.logo_text PROJECT 
    .image 
        img(src="assets/loading.gif", alt="Loading GIF", srcset="").loading-image
    .progress 
        .progress__bar 
            .progress__indicator 
        .progress__caption 
            .reveal 
                h1.child.progress__caption__heading Past
            .reveal 
                h1.child.progress__caption__heading Present
            .reveal 
                h1.child.progress__caption__heading Future
