section.past
    .timeline
        .timeline__progress
    .item.section1__container(style="z-index: 2;")
        .content.section1
            img.papri(src='assets/image-87papri.png' loading='lazy' srcset='assets/image-87papri-p-500.png 500w, assets/image-87papri-p-800.png 800w, assets/image-87papri-p-1080.png 1080w, assets/image-87papri-p-1600.png 1600w, assets/image-87papri.png 1920w' sizes='(max-width: 991px) 2vw, 3vw' alt='bg noise')
            img.pyramid(src='assets/pyramid.png' loading='lazy' sizes='(max-width: 767px) 2vw, (max-width: 991px) 3vw, 100vw' srcset='assets/pyramid-p-500.png 500w, assets/pyramid.png 680w' alt='Pyramid')
            .past-text-container
                .past-title-container
                    h1.past-title.base-title 1500-year-old
                .past-title-container
                    h1.past-title.caption-title UNKNOWN PYRAMID
    .item
        //- .timeline
        .content.section2
            p.para1.yellow.section1-text.para-text
                | Historic architecture and old buildings are a testament to the past and the people who lived in it. They are a reflection of the culture, history, and values of the past. These buildings are not only beautiful but also have a unique charm that is hard to replicate. They are often seen as landmarks and tourist attractions that attract visitors from all over the world.

            .para-wrapper
                p.para1.white.section1-text.para-text
                    | Some examples of historic architecture include lasting palaces like Versailles or ancient temples across the world. These structures have stood the test of time and continue to inspire us today. They remind us of our roots and where we came from.
                img.image-3(src='assets/image-112bg-effect1.png' loading='lazy' sizes='(max-width: 479px) 26vw, (max-width: 767px) 84vw, (max-width: 991px) 25vw, 41vw' srcset='assets/image-112bg-effect1-p-500.png 500w, assets/image-112bg-effect1-p-800.png 800w, assets/image-112bg-effect1-p-1080.png 1080w, assets/image-112bg-effect1-p-1600.png 1600w, assets/image-112bg-effect1.png 1666w' alt='background effect')
    .item
        //- .timeline
        .content.section3
            img.image-4(src='assets/image-86bg-effect2-1.png' loading='lazy' sizes='(max-width: 479px) 13vw, (max-width: 767px) 100vw, (max-width: 991px) 66vw, 64vw' srcset='assets/image-86bg-effect2-1-p-500.png 500w, assets/image-86bg-effect2-1-p-800.png 800w, assets/image-86bg-effect2-1-p-1080.png 1080w, assets/image-86bg-effect2-1-p-1600.png 1600w, assets/image-86bg-effect2-1-p-2000.png 2000w, assets/image-86bg-effect2-1.png 2560w' alt='bg-effect3')
            p.paragraph.para1.black.para-text
                | Older structures can inform us about the culture, history, and values of the past. They can help us understand how people lived and what was important to them. They are a window into the past that can help us appreciate our present.
            img.image-6(src='assets/Group-20section3-bg-overlay.png' loading='lazy' alt='background overlay' sizes='(max-width: 479px) 9vw, (max-width: 767px) 100vw, (max-width: 991px) 98vw, 10vw' width='367.5' srcset='assets/Group-20section3-bg-overlay-p-500.png 500w, assets/Group-20section3-bg-overlay.png 735w')
    .item.pinned-section(style="z-index: 2;")
        .content.section4
            .past-types(style="z-index: 2;")
                .past-types-inner
                    .text-block &sqsube;&#x27DF;&#x2307;&#x23C1;&#x235C;&#x2340;&#x27DF;&#x260A; &nbsp; &nbsp; &nbsp;&#x23C3;&#x2340;&#x260A;&sqsube;&#x27DF;&#x23C1;&#x27D2;&#x260A;&#x23C1;&#x238D;&#x2340;&#x27D2; &nbsp; &nbsp; &#x23C3;&cuwed;&#x2385; &nbsp; &nbsp; &#x235C;&#x2330;&#x2385; &nbsp; &nbsp; &#x23DA;&#x238D;&#x27DF;&#x2330;&#x2385;&#x27DF;&cuwed;&#x260C;&#x2307;
                    .images-container
                        img.image-hover-anim.image1(src='assets/barbican.png' loading='lazy' data-w-id='6970383b-e4ce-d284-05b0-20eaed450182' alt='barbican' width='763' srcset='assets/barbican-p-500.png 500w, assets/barbican-p-800.png 800w, assets/barbican-p-1080.png 1080w, assets/barbican.png 1526w' sizes='(max-width: 479px) 62vw, (max-width: 767px) 100vw, (max-width: 991px) 25vw, 4vw')
                        img.image-hover-anim.image2(src='assets/barcroft.png' loading='lazy' data-w-id='51e38497-44ab-9e0f-6c87-1e72ded33678' sizes='(max-width: 479px) 62vw, (max-width: 767px) 100vw, (max-width: 991px) 25vw, 4vw' alt='barcroft' srcset='assets/barcroft-p-500.png 500w, assets/barcroft-p-800.png 800w, assets/barcroft-p-1080.png 1080w, assets/barcroft.png 1526w')
                        img.image-hover-anim.image3(src='assets/spomenik.png' loading='lazy' data-w-id='afc7032c-a7e0-b339-023a-24d039a31fbb' sizes='(max-width: 479px) 62vw, (max-width: 767px) 100vw, (max-width: 991px) 25vw, 4vw' alt='spomenik' srcset='assets/spomenik-p-500.png 500w, assets/spomenik-p-800.png 800w, assets/spomenik-p-1080.png 1080w, assets/spomenik.png 1526w')
                        img.image-hover-anim.image4(src='assets/congak.png' loading='lazy' data-w-id='d1555fd2-9f58-30a2-80b8-74f34c6a71e3' sizes='(max-width: 479px) 62vw, (max-width: 767px) 100vw, (max-width: 991px) 25vw, 4vw' alt='congak' srcset='assets/congak-p-500.png 500w, assets/congak-p-800.png 800w, assets/congak-p-1080.png 1080w, assets/congak.png 1526w')
                        img.image-hover-anim.image5(src='assets/derawar.png' loading='lazy' data-w-id='a6d89266-843b-00f4-065e-de889ca086b5' sizes='(max-width: 479px) 62vw, (max-width: 767px) 100vw, (max-width: 991px) 25vw, 4vw' alt='derawar' srcset='assets/derawar-p-500.png 500w, assets/derawar-p-800.png 800w, assets/derawar-p-1080.png 1080w, assets/derawar.png 1526w')
                    .past-types-content
                        .heading-container
                            h1.heading-3.head1 Barbican
                            h1.heading-3.head2 Barcroft
                            h1.heading-3.head3 Spomenik
                            h1.heading-3.head4 Congak
                            h1.heading-3.head5 Derawar
                        .para-container
                            p.paragraph-2.text1
                                | Historic and modern architecture don&rsquo;t come together too often. Even though they&rsquo;re seen as vastly different, but still equally important, our built environment is defined by distinctly separate old and new buildings.
                            p.paragraph-2.text2
                                | Older structures can inform us about the culture, history, and values of the past; new ones, much like a force of nature, have the ability to transform a neighborhood (almost always for the better).
                            p.paragraph-2.text3
                                | The first thing to understand about the 'Spomeniks*' is that they represent many different things to many different people... they are the legacy of a bygone.
                            p.paragraph-2.text4
                                | Built originally as an armory in 1876, the structure officially became a museum in 1897. By 1989, however, the German government decided to close the public structure due to its uncertainty as to how it wanted history to remember its military positions.
                            p.paragraph-2.text5
                                | Derawar Fort is a fortress in Ahmadpur East Tehsil of Bahawalpur District in the Punjab province of Pakistan. Approx. 20 km south of the city of Ahmedpur East, the forty bastions of Derawar are visible for many miles in the Cholistan Desert.
    //- .item
    //-     .sketchfab-embed-wrapper(style="width: 100%; height: 100%;")
    //-         iframe(title='Old house' frameborder='0' allowfullscreen='' mozallowfullscreen='true' style="width: 100%; height: 100%" webkitallowfullscreen='true' allow='autoplay; fullscreen; xr-spatial-tracking' xr-spatial-tracking='' execution-while-out-of-viewport='' execution-while-not-rendered='' web-share='' src='https://sketchfab.com/models/e2bfb782bd2d4aa2af7dd8d7c37e08e4/embed')  
    //-         p(style='font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;')
    //-             a(href='https://sketchfab.com/3d-models/old-house-e2bfb782bd2d4aa2af7dd8d7c37e08e4?utm_medium=embed&utm_campaign=share-popup&utm_content=e2bfb782bd2d4aa2af7dd8d7c37e08e4' target='_blank' rel='nofollow' style='font-weight: bold; color: #1CAAD9;')  Old house 
    //-             |  by 
    //-             a(href='https://sketchfab.com/yanix?utm_medium=embed&utm_campaign=share-popup&utm_content=e2bfb782bd2d4aa2af7dd8d7c37e08e4' target='_blank' rel='nofollow' style='font-weight: bold; color: #1CAAD9;')  yanix 
    //-             |  on 
    //-             a(href='https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=e2bfb782bd2d4aa2af7dd8d7c37e08e4' target='_blank' rel='nofollow' style='font-weight: bold; color: #1CAAD9;') Sketchfab

    .item.last-section
        //- .timeline
        .content.section5
            .top-images
                img.image-8(src='assets/top-image1.png' loading='lazy' width='281.5' sizes='(max-width: 479px) 22vw, (max-width: 767px) 12vw, 1vw' alt='Building 1')
                img.image-8(src='assets/top-image2.png' loading='lazy' width='281.5' sizes='(max-width: 479px) 22vw, (max-width: 767px) 12vw, 1vw' alt='Building 1')
                img.image-8(src='assets/top-image3.png' loading='lazy' width='281.5' sizes='(max-width: 479px) 22vw, (max-width: 767px) 12vw, 1vw' alt='Building 1')
                img.image-8(src='assets/top-image4.png' loading='lazy' width='281.5' sizes='(max-width: 479px) 22vw, (max-width: 767px) 12vw, 1vw' alt='Building 1')
            .bottom-images
                img.image-9(src='assets/bottom-image1.png' loading='lazy' width='249' alt='building 2')
                img.image-9(src='assets/bottom-image2.png' loading='lazy' width='249' alt='building 2')
                img.image-9(src='assets/bottom-image3.png' loading='lazy' width='249' alt='building 2')
                img.image-9(src='assets/bottom-image4.png' loading='lazy' width='249' alt='building 2')
            img.image-10(src='assets/stamp.svg' loading='lazy' alt='stamp')
    