section.present
    .present-inner
        img.pattern-img(src='assets/pattern.png' loading='lazy' sizes='(max-width: 479px) 67vw, (max-width: 767px) 6vw, 1vw' width='503.5' alt='pattern' srcset='assets/pattern-p-500.png 500w, assets/pattern-p-800.png 800w, assets/pattern.png 1007w')
        .present-content
            h1.heading PRESENT
            p.content
                | Modern architecture is a style of building that emphasizes function and a streamlined form over ornamentation. This design aesthetic is a departure from more elaborate and decorated homes like Queen Anne, Victorian, or Gothic Revival styles.
            .scroll-now
                .line
                .scroll-text scroll now
    .present-section-title
        h1.heading
            span.head-text THE 
            <br />
            span.head-text.bold EMAARAT 
            <br />
            span.head-text PROJECT
        .image-container
            img.image(src="/assets/high-building.png")
    .present-section-content
        p.para 
            | Modern architecture is a style of building that emphasizes function and a streamlined form over ornamentation. This design aesthetic is a departure from more elaborate and decorated homes like Queen Anne, Victorian, or Gothic Revival styles. Modern architecture usually involves sharp, clean lines. There are several styles of modern architecture in the United States alone. From 1930 through 1970, there are categories like Expressionist, Constructivist, and Mid-Century Modern, to name a few. The modern movement was not short-lived, and it encompasses several sub-styles that span nearly 60 years. In this way, it can be difficult to pinpoint an exact starting point. To some, the style includes more transitional architecture like the Art Deco and Arts and Crafts movements. To others, those earlier styles served as inspiration for more "pure," mid-century modern architects.

//-   .item
//-     .content.section6
//-       img.image-11(src='assets/pattern.png' loading='lazy' sizes='(max-width: 479px) 67vw, (max-width: 767px) 6vw, 1vw' width='503.5' alt='pattern' srcset='assets/pattern-p-500.png 500w, assets/pattern-p-800.png 800w, assets/pattern.png 1007w')
//-       .div-block
//-         h1.heading-4 PRESENT
//-         p.paragraph-3
//-           | Modern architecture is a style of building that emphasizes function and a streamlined form over ornamentation. This design aesthetic is a departure from more elaborate and decorated homes like Queen Anne, Victorian, or Gothic Revival styles.
//-       .div-block-3
//-         .div-block-2
//-         .text-block-2 scroll now